﻿<!DOCTYPE html>
<html style="width:100%;height:100%; overflow: hidden;">
<head>
    <title>Криптомафия</title>
    <link rel="stylesheet" href="~/min/library.min.css">
    <link rel="stylesheet" href="~/min/animate.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <script src="~/min/vue.min.js"></script>
    <script src="~/min/vue-router.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/2.7.0/vue-router.min.js"></script>-->
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <style>
       @Html.Partial("~/Views/All/css/main.css")
    </style>
</head>
<body style="height:100%;width:100%;">
    <div id="app" style="height:100%;width:100%;">
        @Html.Partial("~/Views/All/Body.cshtml")
    </div>
    @Html.Partial("~/Views/All/js/mainjs.cshtml")
</body>
</html>
