﻿<div class="nav animated fadeInLeft">
    <div>Отправить заявку о проплате</div>
    <form enctype="multipart/form-data" v-on:submit.prevent="GM().send_new_pay()" id="newPay_form">
        <div>Сколько я заплатил <input type="number" id="newPay_Money" name="newPay_Money" v-model="New_Pay.Money" /></div>
        <div>
            Пакет
            <select v-model="New_Pay.Paket" v-on:change="" id="newPay_paket" name="newPay_Paket">
                <option v-bind:value="{ value: 1}">30 дней</option>
                <option v-bind:value="{ value: 2}">60 дней+ 5 дней</option>
                <option v-bind:value="{ value: 3}">90 дней + 10 дней</option>
            </select> 
            <input v-model="New_Pay.Paket" />{{New_Pay.Paket}}
        </div>
        <div>
            Мой кошелёк <input type="text" id="newPay_file" name="newPay_MyPurse" v-model="New_Pay.MyPurse" />
        </div>

        <div>
            Переведите вредства на кошелёк 12334567
        </div>
        <div>
            Сделайте скриншот оплаты и прикрепите его здесь <input id="newPay_file" name="newPay_file" type="file" />
        </div>
        <div>
            После оплаты нажмите <button>Отправить.</button>
        </div> 
    </form> 
</div>