﻿body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #4A4B4D;
}

[v-cloak] {
    display: none;
}

.active_link {
    background-color: #190606;
    font-size: large;
    color: navajowhite !important;
}

.nav_link_left:hover {
    background-color: #390D0D !important;
}

.nav_link_left:focus {
    background-color: #190606 !important;
}

.lb-sm {
    font-size: 0.51em;
    float: right;
}

.width_big {
    width: 20em;
}
