﻿<script>
    window.onload = function () {
        @Html.Partial("~/Views/Main/js/GlobalData.js")
        @Html.Partial("~/Views/Main/js/GlobalMethods.js")
        @Html.Partial("~/Views/Main/js/WebSocket.js")


            var IndexPage = {
            template: `@Html.Partial("~/Views/Main/Templates/IndexPage.cshtml")`,
            data: function () {
                return GD;
            },
            events: {},
            methods: {
                GM: function () {
                    return GlobalMethods;
                }
            },
            created: function () {

            }
            };

            var LoginPage = {
            template: `@Html.Partial("~/Views/Main/Templates/LoginPage.cshtml")`,
            data: function () {
                return GD;
            },
            events: {},
            methods: {
                GM: function () {
                    return GlobalMethods;
                }
            },
            created: function () {
            }
            };

            var AboutPage = {
            template: `@Html.Partial("~/Views/Main/Templates/AboutPage.cshtml")`,
            data: function () {
                return GD;
            },
            events: {},
            methods: {
                GM: function () {
                    return GlobalMethods;
                }
            },
            created: function () {
            }
            };

            var NewsPage = {
            template: `@Html.Partial("~/Views/Main/Templates/NewsPage.cshtml")`,
            data: function () {
                return GD;
            },
            events: {},
            methods: {
                GM: function () {
                    return GlobalMethods;
                }
            },
            created: function () {
            }
            };

        var RegisterPage = {
            template: `@Html.Partial("~/Views/Main/Templates/RegisterPage.cshtml")`,
            data: function () {
                return GD;
            },
            events: {},
            methods: {
                GM: function () {
                    return GlobalMethods;
                }
            },
            created: function () {}
            };

        var SignalsPage = {
            template: `@Html.Partial("~/Views/Main/Templates/SignalsPage.cshtml")`,
            data: function () {
                return GD;
            },
            events: {},
            methods: {
                GM: function () {
                    return GlobalMethods;
                }
            },
            created: function () {}
        };

        var ChatPage = {
            template: `@Html.Partial("~/Views/Main/Templates/ChatPage.cshtml")`,
            data: function () {
                return GD;
            },
            events: {},
            methods: {
                GM: function () {
                    return GlobalMethods;
                }
            },
            created: function () {}
        };

        var VIPChatPage = {
            template: `@Html.Partial("~/Views/Main/Templates/VIPChatPage.cshtml")`,
            data: function () {
                return GD;
            },
            events: {},
            methods: {
                GM: function () {
                    return GlobalMethods;
                }
            },
            created: function () {}
        };

        @if (ViewBag.ViewBagResponse.IsAuthorized == true)
        {<text>
            var PayPage = {
            template: `@Html.Partial("~/Views/Main/Templates/PayPage.cshtml")`,
            data: function() {
                    return GD;
                },
            events: { },
            methods:
                {
                    GM: function() {
                        return GlobalMethods;
                    }
                },
            created: function() { }
            };

       </text>}



        var routes = [
            { path: '/', component: IndexPage, name: "IndexPage" },
            { path: '/login', component: LoginPage, name: "LoginPage" },
            { path: '/news', component: NewsPage, name: "NewsPage" },
            { path: '/about', component: AboutPage, name: "AboutPage" },
            { path: '/register', component: RegisterPage, name: "RegisterPage" },
            { path: '/chat', component: ChatPage, name: "ChatPage" },
            { path: '/vipchat', component: VIPChatPage, name: "VIPChatPage" },
            { path: '/signals', component: SignalsPage, name: "SignalsPage" },

            @if (ViewBag.ViewBagResponse.IsAuthorized == true)
            {<text>
                { path: '/pay', component: PayPage, name: "PayPage" }
            </text>}

            

        ];
        var router = new VueRouter({ mode: 'history', routes });



        var app = new Vue({
            router,
            el: '#app',
            data: function () {
                return GD;
            },
            components: {
            },
            events: {},
            methods: {
                GM: function () {
                    return GlobalMethods;
                },
                ServerConnect: function () {
                    //GlobalData.connection = ReconnectToServer(GlobalData);
                }
            },
            created: function () {
                GD.Auth.Name = getCookie('name');
            }
        });


    }


</script>