<div style="height:100%; width: 100%;padding:10px;" v-cloak>
    <table style="height:100%; width: 100%; ">
        <tr style="height:100%; width: 100%;">
            <td valign="top" style="background-color:#2B3A41;width:200px;height:100%;">
                <div style="color:white;height:50px"><center><b>Криптомафия</b></center></div>
                <ul class="nav animated fadeIn">
                    <li v-bind:class=" $route.path ==='/'?  'active_link' : ''">
                        <router-link to="/" class=" nav_link_left">Главная страница</router-link>
                    </li>
                    <li v-bind:class=" $route.path ==='/news'?  'active_link' : ''">
                        <router-link to="/news" class=" nav_link_left">Новости</router-link>
                    </li>
                    <li v-bind:class=" $route.path ==='/about'?  'active_link' : ''">
                        <router-link to="/about" class=" nav_link_left">О сайте</router-link>
                    </li> 
                    @if (ViewBag.ViewBagResponse.IsAuthorized)
                    {
                        <li>
                            <router-link to="/chat" class=" nav_link_left">Чат</router-link>
                        </li>
                        <li>
                            <router-link to="/vipchat" class=" nav_link_left">
                                VIP Чат
                                @if (!ViewBag.ViewBagResponse.IsVIP && !ViewBag.ViewBagResponse.IsAdmin)
                                {<span class="label label-info lb-sm">Доступно для VIP</span> }
                            </router-link>
                        </li>
                        <li>
                            <router-link to="/signals" class=" nav_link_left">
                                Сигналы
                                @if (!ViewBag.ViewBagResponse.IsVIP && !ViewBag.ViewBagResponse.IsAdmin)
                                {<span class="label label-info lb-sm">Доступно для VIP</span> }
                            </router-link>
                        </li>
                        @if (ViewBag.ViewBagResponse.IsAuthorized)
                        {
                            <li v-bind:class=" $route.path ==='/pay'?  'active_link' : ''">
                                <router-link to="/pay" class=" nav_link_left">Платежи</router-link>
                            </li>
                        } 
                        @if (ViewBag.ViewBagResponse.IsAdmin)
                        {
                            <li>
                                <a href="/admin" class=" nav_link_left"><i class="fa fa-lock fa-fw" aria-hidden="true"></i>Страница администратора</a>
                            </li>
                        }
                    }
                   
                </ul>
            </td>
            <td valign="top" style="background-color:#F3F3F3;height:100%"> 
                    <nav class="navbar navbar-default" role="navigation" style="height:40px !important;">
                        <div class="container-fluid animated fadeIn" v-cloak>
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#">эмблема КМ </a>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" > 
                                <ul class="nav navbar-nav navbar-right">
                                    @if (!ViewBag.ViewBagResponse.IsAuthorized == true)
                                    {
                                        <li v-bind:class=" $route.path ==='/login'?  '' : ''"> 
                                            <router-link to="/login" class=" ">Войти</router-link>
                                        </li>
                                        <li v-bind:class=" $route.path ==='/register'?  '' : ''">
                                            <router-link to="/register" class=" ">Регистрация</router-link>
                                        </li> 
                                    }
                                    else
                                    {
                                        <li><div>
                                            @if (ViewBag.ViewBagResponse.IsAdmin)
                                            {<span class="label label-danger lb-sm">Admin</span> }
                                            @if (ViewBag.ViewBagResponse.IsVIP)
                                            {<span class="label label-warning lb-sm">VIP</span> }
                                            <a href="/logout" class="">
                                             @ViewBag.ViewBagResponse.Name Выход</a> 
                                            </div>
                                        </li>
                                    } 
                                </ul>
                            </div>
                        </div>
                    </nav> 
                <div style="overflow-y:scroll;height:calc(100% - 60px);margin-top:-25px;  width:100%;">
                    <router-view></router-view>
                </div>
            </td>
        </tr>
    </table>
</div>