﻿<div style="width:100%;height:100%;background: url('/images/mafia/mafia1.jpg') no-repeat ;background-size: 100% 100%;background-repeat: no-repeat;"> 
    <div class="alert alert-success" role="alert" >
        Криптомафия. Описание сайта
    </div>
</div>