﻿<div class="nav animated fadeIn"> 
        <center>
            <div style="width:50em;">
                <div class="alert alert-success animated fadeIn"  role="alert" v-show="New_Pay.IsSuccess">
                    <h4 class="alert-heading">Отлично! Ваша заявка отправлена администратору.</h4> 
                    <hr>
                    <p class="mb-0">Ожидайте подключения VIP статуса после проверки наличия оплаты</p>
                </div>

                <div class="alert alert-danger animated fadeIn" role="alert" v-show="New_Pay.IsSuccess===false">
                    <h4 class="alert-heading">Ошибка!</h4>
                    <hr>
                    <p class="mb-0">Введите корректно все данные.Если у Вас уже есть подписка- она не должна входить в диапазон Вашей проплаты.</p>
                </div>

                <h3>Отправить заявку о проплате</h3>
                <form enctype="multipart/form-data" v-on:submit.prevent="GM().send_new_pay()" id="newPay_form">
                    <table class="table"> 
                            <tr>
                                <th>Сколько я заплатил BTC</th>
                                <th><input type="number" step=0.001  min="0" id="newPay_Money" name="newPay_Money" v-model="New_Pay.Money" class="width_big"/></th>
                            </tr>
                            <tr>
                                <th scope="row">С какого числа активировать VIP статус</th>
                                <td><input type="date" id="newPay_date" name="newPay_date" class="width_big"></td>
                            </tr>
                            <tr>
                                <th scope="row">Пакет</th>
                                <td>
                                    <select v-model="New_Pay.Paket" v-on:change="" class="width_big">
                                        <option v-bind:value="{ value: 1}">30 дней</option>
                                        <option v-bind:value="{ value: 2}">60 дней+ 5 дней</option>
                                        <option v-bind:value="{ value: 3}">90 дней + 10 дней</option>
                                    </select>
                                    <input v-model="New_Pay.Paket.value" v-show="false" id="newPay_paket" name="newPay_Paket" class="width_big"/>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Мой кошелёк
                                </th> 
                                <td> 
                                    <input id="newPay_MyPurse" name="newPay_MyPurse" class="width_big" />
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Переведите вредства на кошелёк</th>
                                <td> BTC === <b>12334TRERT567</b> </td>
                            </tr>
                            <tr>
                                <th scope="row">Сделайте скриншот оплаты и прикрепите его здесь</th>
                                <td><input id="newPay_file" name="files" type="file" class="width_big"/></td>
                            </tr>
                        <tr>
                            <th scope="row">
                                Описание или комментарий, касаемый Вашей оплаты<input v-show="false" class="width_big" id="newPay_Deskription" name="newPay_Deskription" />   
                            </th>
                            <td>
                                <textarea rows="5" id="newPay_Deskription" name="newPay_Deskription" class="width_big"></textarea>
                            </td>
                        </tr>
                            <tr>
                                <th scope="row">После оплаты нажмите</th>
                                <td><button class="btn btn-outline-info width_big">Отправить</button></td>
                            </tr> 
                    </table>
                </form>
            </div>
    </center> 
</div>