﻿<div class="nav animated fadeIn" style="font-size: 18pt; ">
    <center>
    <div v-show="Register.RegisterSuccess" style="color:green;">Поздравляем. Теперь проверьте Вашу почту и перейдите по указанной в сообщении ссылке  для завершения регистрации</div>
        <form method="post" id="form_register" action="javascript:void(null);" onsubmit="send_form_register()">
            <table style="height:100%;">
                <tr>
                    <td>Введите Вашу почту</td>
                    <td><input v-model="Register.RegisterMail" /></td>
                </tr>
                <tr>
                    <td>Введите Ваш пароль</td>
                    <td><input type="password" v-model="Register.RegisterPassword" /></td>
                </tr>
                <tr>
                    <td>Введите имя и фамилию</td>
                    <td><input v-model="Register.RegisterName" /></td>
                </tr>
                <tr v-show="false">
                    <td>Введите 123</td>
                    <td><input v-model="Register.RegisterCaptcha" /></td>
                </tr> 
                <tr>
                    <td></td>
                    <td><div class="g-recaptcha" data-sitekey="6LfKCjMUAAAAADFmZnD7h5GdStvwoZetzElcWLiz"></div></td>
                </tr> 
                <tr>
                    <td><div style="color:orangered;font-size: 15pt;" v-bind:class="Register.ErrorMessage!='' ? 'shake' : ''" class="animated " v-show="Register.ErrorMessage!=''">{{Register.ErrorMessage}}</div></td>
                    <td><button style="width:100%; " v-on:click="GM().Register(Register.RegisterMail,Register.RegisterPassword,Register.RegisterName,Register.RegisterCaptcha)">Готов</button></td>
                </tr>
            </table>  
        </form> 

        
    </center>
</div>