﻿<div class="nav animated fadeIn">
    @if (!ViewBag.ViewBagResponse.IsVIP && !ViewBag.ViewBagResponse.IsAdmin)
    {
        <div>Доступно для VIP</div>
    }
    else
    {

        <div>Вам доступны сигналы  VIP</div>
    }
</div>