﻿<div style="height:100%; width: 100%; " class="nav animated fadeIn" >
    <table style="height:100%; width: 100%; ">
        <tr style="height:45px; width: 100%;">
            <td> 
                <center>
                    <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-secondary btn-sm">
                        <input type="checkbox" autocomplete="off"><i class="fa fa-toggle-on" ></i>
                    </label>
                    <label class="btn btn-secondary btn-sm">
                        <input type="checkbox" autocomplete="off"><i class="fa fa-circle-o" ></i>
                    </label>
                    <label class="btn btn-secondary btn-sm">
                        <input type="checkbox" autocomplete="off"><i class="fa fa-check" ></i>
                    </label>
                    <label class="btn btn-secondary btn-sm">
                        <input type="checkbox" autocomplete="off"><i class="fa fa-close" ></i>
                    </label>
                    </div>
                </center>
            </td>
        </tr>
        <tr style="height:100%; width: 100%;">
            <td style="width:300px;height:100%;">
                <div style="background-color:#7A7C81;height:100%;width:100%;overflow-y:scroll">
                    <table style="width:100%;">
                        <tr class="" v-for="(Trans,index) in PaysTable">
                            <td class="PayInList" v-bind:class="{'ActivePayInList':GM().GetUndefinedBool($route,'transaktion',Trans.transaktion_id)}"   v-on:click="GM().TransaktionSelectionChanged(Trans.transaktion_id)">{{index+1}} <i class="fa fa-check" style="color:green" v-show="Trans.admin_answer==1">{{Trans.name}} </i><i class="fa fa-close" style="color:red" v-show="Trans.admin_answer=='0'">{{Trans.name}} </i><i style="color:chocolate" class="fa fa-circle-o" v-show="Trans.admin_answer==''">{{Trans.name}} </i><br /><small>{{Trans.date_begin}}-{{Trans.date_end}}</small></td>
                        </tr>
                    </table>
                </div>
            </td>
            <td style="width:calc(100%-500px);height:100%;">
                <div style="background-color:#C7C9CD;height:100%;width:100%;overflow-y:no-display"> 
                    <center>
                        <div style="width:50em;">
                            <div class="alert alert-success animated fadeIn" role="alert" v-show="New_Pay.IsSuccess">
                                <h4 class="alert-heading">Отлично!Теперь пользователь имеет VIP статус.</h4> 
                            </div>

                            <div class="alert alert-danger animated fadeIn" role="alert" v-show="New_Pay.IsSuccess===false">
                                <h4 class="alert-heading">Ошибка!</h4>
                                <hr>
                                <p class="mb-0">Введите корректно все данные.Подписка  не должна входить в диапазон проплаты.</p>
                            </div>

                            <div v-show="$route.query.transaktion==undefined">
                                <h3>Добавить VIP статус без заявки пользователя</h3>
                                <form enctype="multipart/form-data" v-on:submit.prevent="GM().send_new_vip()" id="New_Pay_form">
                                    <table class="table">
                                        <tr>
                                            <th>Выберите пользователя <input type="number" v-show="false" v-model="New_Pay.UserId" id="New_Pay_UserId" name="New_Pay_UserId"></th>
                                            <th>
                                                <select v-model="New_Pay.UserId" v-on:change="" class="width_big">
                                                    <option v-for="option in UsersTable" v-bind:value="option.id">
                                                        {{ option.name }}
                                                    </option>
                                                </select>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>Сколько заплатил пользователь в BTC</th>
                                            <th><input type="number" step=0.001 min="0" id="New_Pay_Money" name="New_Pay_Money" class="width_big" /></th>
                                        </tr>
                                        <tr>
                                            <th scope="row">С какого числа активировать VIP статус</th>
                                            <td><input type="date" id="New_Pay_date_begin" name="New_Pay_date_begin" class="width_big"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Пакет</th>
                                            <td>
                                                <select v-model="New_Pay.Paket" v-on:change="" class="width_big">
                                                    <option v-bind:value="{ value: 1}">30 дней</option>
                                                    <option v-bind:value="{ value: 2}">60 дней+ 5 дней</option>
                                                    <option v-bind:value="{ value: 3}">90 дней + 10 дней</option>
                                                </select>
                                                <input v-model="New_Pay.Paket.value" v-show="false" id="New_Pay_paket" name="New_Pay_Paket" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                Описание или комментарий, касаемыe оплаты 
                                            </th>
                                            <td>
                                                <textarea rows="5" id="New_Pay_Deskription" name="New_Pay_Deskription" class="width_big"></textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Проверьте все поля и нажмите "Добавить VIP статус".Операцию нельзя будет отменить!</th>
                                            <td><button class="btn btn-success width_big"><i class="fa fa-check"></i>Добавить VIP статус</button></td>
                                        </tr>
                                    </table>
                                </form>
                         </div>
                            <div  v-show="$route.query.transaktion>''">
                                <h3>{{PaysTableInfo.name}}</h3> 
                                    <table class="table"> 
                                        <tr>
                                            <th>Пользователь заплатил  в BTC</th>
                                            <th>{{PaysTableInfo.money}}</th>
                                        </tr>
                                        <tr>
                                            <th scope="row">Длительность VIP статуса</th>
                                            <td>{{PaysTableInfo.date_begin}} - {{PaysTableInfo.date_end}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Пакет</th>
                                            <td>{{PaysTableInfo.paket_id}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                Описание или комментарий, касаемыe оплаты
                                            </th>
                                            <td class="width_big">
                                               {{PaysTableInfo.deskription}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Если всё верно- нажмите  "Добавить VIP статус". Операцию нельзя будет отменить! Либо отмените заявку (Вы сможете затем изменить решение)</th>
                                            <td>
                                                <button class="btn btn-success width_big" v-on:click="GM().TransaktionChange(PaysTableInfo,1)"><i class="fa fa-check"></i>Добавить VIP статус</button><hr>
                                                <button class="btn btn-danger width_big" v-on:click="GM().TransaktionChange(PaysTableInfo,0)"><i class="fa fa-close"></i>Отменить</button>
                                            </td>
                                        </tr>
                                    </table> 
                            </div> 
                        </div>
                    </center> 
                </div>
            </td>
        </tr>
    </table>
</div>