﻿<div style="height:100%; width: 100%; " class="nav animated fadeIn" >
    <table style="height:100%; width: 100%; ">
        <tr style="height:45px; width: 100%;">
            <td> Запросы пользователей на получение VIP статуса </td>
        </tr>
        <tr style="height:100%; width: 100%;">
            <td style="width:300px;height:100%;">
                <div style="background-color:#7A7C81;height:100%;width:100%;overflow-y:scroll">
                    <table style="width:100%;">
                        
                    </table>
                </div>
            </td>
            <td style="width:calc(100%-500px);height:100%;">
                <div style="background-color:#C7C9CD;height:100%;width:100%;overflow-y:no-display"> 
                    <div style="background-color:black;opacity: 0.1;width:100%;height:100%;">
                        <img src="http://uz-rek.com/uploads/news/MafiaLogo.jpg" style="width:100%;height:100%;" />
                    </div> 
                </div>
            </td>
        </tr>
    </table>
</div>