﻿<div style="height:100%; width: 100%; " class="nav animated fadeIn">
    <table style="height:100%; width: 100%; ">
        <tr style="height:45px; width: 100%;">
            Базовая информация
        </tr>
        <tr style="height:100%; width: 100%;">
            <td style="width:300px;height:100%;">
            <div style="background-color:#7A7C81;height:100%;width:100%;overflow-y:scroll">
                <table style="width:100%;">
                    <tr  class="UsersList_User" v-for="(Usr,index) in UsersTable">
                        <td class="UsersList_User" v-bind:class="{'ActiveUserInList':GM().GetUndefinedBool($route,'id',Usr.id)}" v-on:click="GM().SelectUser(Usr.id)">{{index+1}} {{Usr.name}}</td>
                    </tr> 
                </table>
            </div>
            </td>
            <td style="width:calc(100%-500px);height:100%; ">
                <div style="background-color:#C7C9CD;height:100%;width:100%;overflow-y:no-display" >
                    <div style="height:100%;width:100%" v-show="this.$route.query.user_tab>0">
                        <table>
                            <tr>
                                <td style="width:110px;"><img src="https://pp.userapi.com/c626918/v626918772/3a824/HwNs6zCs6nc.jpg" style="border-radius:50px;width:100px;height:100px;border:2px solid" /></td>
                                <td>
                                    <table>
                                        <tr>
                                            <td><h3><b>Вася Пупкин 1111</b></h3></td>
                                        </tr>
                                        <tr>
                                            <td>Почта Васи Пупкина  тут</td>
                                        </tr>
                                        <tr>
                                            <td>Ник в телеграме тут</td>
                                        </tr>
                                        <tr>
                                            <td>тут будет дата регистрация Васи</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr> 
                        </table>
                        <div style="height:100%;width:100%;margin-top:10px; background-color:aliceblue;height:calc(100% - 7.55em);">
                            <ul class="nav nav-tabs " style=" ">
                                <li v-bind:class="{active:this.$route.query.user_tab==1}" v-on:click="GM().Users_User_Tab_change(1)">
                                    <a href="#user_tab_1" data-toggle="tab">Подписки</a>
                                </li>
                                <li v-bind:class="{active:this.$route.query.user_tab==2}" v-on:click="GM().Users_User_Tab_change(2)">
                                    <a href="#user_tab_2" data-toggle="tab">Заявки VIP</a>
                                </li>
                            </ul>

                            <div class="tab-content  " style="background-color:red;">
                                <div style="width:100%;height:100%" class="tab-pane" v-bind:class="{active:this.$route.query.user_tab==1}" id="user_tab_1">
                                    <table style="width:100%;height:100%">
                                        <tr style="width:100%;height:100%">
                                            <td style="background-color:blue;width:300px;height:100%; ">
                                                <div style="top: 0;background-color:lightyellow;height:2em">
                                                    <button><i class="fa fa-plus fa-fw" ></i>Новая подписка</button>
                                                </div>
                                                <div style="height:calc(100% - 2em);margin-bottom:0px;background-color:aquamarine; ">
                                                    2
                                                </div>
                                            </td>
                                            <td style="background-color:green;height:100%">
                                                <div>
                                                    <b>Предоставления VIP статуса</b>
                                                    <table style="border:1px solid black;">
                                                        <tr>
                                                            <td>Введите стоимость в месяц</td>
                                                            <td><input v-model="User.PriceToVIPadd" type="number" min="0"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Дата начала подписки</td>
                                                            <td>
                                                                <input type="date" v-model="User.DateBegin" v-on:change="GM().ExecuteTimeMoneyForVIP(User.DateBegin,User.TimeToVIPadd.value,User.PriceToVIPadd)">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Выберите длительность</td>
                                                            <td>
                                                                <select v-model="User.TimeToVIPadd" v-on:change="GM().ExecuteTimeMoneyForVIP(User.DateBegin,User.TimeToVIPadd.value,User.PriceToVIPadd)">
                                                                    <option v-bind:value="{ value: 1}">30 дней</option>
                                                                    <option v-bind:value="{ value: 2}">60 дней+ 5 дней</option>
                                                                    <option v-bind:value="{ value: 3}">90 дней + 10 дней</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <br /><br /><br />
                                                    <div>
                                                        <b>Предварительный просчёт </b>
                                                        <table>
                                                            <tr>
                                                                <td>Дней суммарно</td>
                                                                <td>{{User.DaysForVIP }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Подписка действительна до</td>
                                                                <td>{{User.DateEndVIP}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Цена за день</td>
                                                                <td>{{User.PriceDay}}</td>
                                                            </tr>
                                                        </table>
                                                        <button v-on:click="GM().SetVIP()">Предоставить  VIP статус</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="tab-pane" style="width:100%;height:100%" v-bind:class="{active:this.$route.query.user_tab==2}" id="user_tab_2">
                                    <h3>Тут Заявки VIP</h3>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div v-show="this.$route.query.id==null" style="background-color:black;opacity: 0.1;width:100%;height:100%;">
                        <img src="http://uz-rek.com/uploads/news/MafiaLogo.jpg" style="width:100%;height:100%;"/>
                    </div>
                    
                </div>
            </td>
        </tr>
    </table>
</div>