﻿<div style="width:100%;height:100%;background: url(https://www.allstick.ru/UserFiles/Picture/cat_1/6016.png) no-repeat ;background-size: 100% 100%;background-repeat: no-repeat;"> 
    <div class="alert alert-success" role="alert" >
        Криптомафия. Описание сайта
    </div>
</div>