﻿<div class="nav animated fadeIn" style="font-size: 18pt; ">
    <center>
        <div style="color:green;" v-show="$route.query.register == 'true'">Ссылка верна. Теперь введите Ваш логин(почту) и пароль</div>
        <div style="color:red;" v-show="$route.query.register == 'false'">Ссылка не действительна</div>
        <div style="color:red;" v-show="Auth.IsLoginFalse===1" class="animated shake">Ошибка. Комбинация логин/пароль не подходит</div>
        <div class="card" style="margin:auto;width:25em; ">
            <div class="card-body" style="padding:10px;"> 
                <i class="fa fa-unlock-alt fa-5x" aria-hidden="true"></i>
                <table style="height:100%;"> 
                    <tr>
                        <td></td>
                        <td>Введите Вашу почту</td>
                        <td><input v-model="Auth.Login" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Введите Ваш пароль</td>
                        <td><input type="password" v-model="Auth.Password" /></td>
                    </tr> 
                </table><br>
                <button style="width:100%; " v-on:click="GM().Login(Auth.Login,Auth.Password)">Войти</button>
            </div>
        </div> 
    </center>
</div>